Q.1

In [1]:
km=float(input('KM= '))
mile= km*(.621371)
print(f'Mile= {mile}')

KM= 5
Mile= 3.106855

Q.2

In [2]:
c=float(input('Celcius= '))
f= (c*9/5)+32
print(f'Fehrenheit= {f}')

Celcius= 100
Fehrenheit= 212.0

Q.3

In [3]:
import calendar

year = int(input('year = '))

print(calendar.calendar(year))

year = 2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

Q.4

In [6]:
import math
a=float(input('coefficient of x**2 = '))
b=float(input('coefficient of x = '))
c=float(input('constant term = '))
d=b**2 - 4*a*c
if d>=0:
    r1=round((b + math.sqrt(d))/(2*a),3)
    r2=round((b - math.sqrt(d))/(2*a),3)
    print(f'required roots are {r1} and {r2}')
else:
    real= b/(2*a)
    imag= round((math.sqrt(-d))/(2*a),3)
    print(f'required roots are {real} + {imag}i and {real} - {imag}i')

coefficient of x**2 = 1
coefficient of x = 1
constant term = 1
required roots are 0.5 + 0.866i and 0.5 - 0.866i

Q.5

In [5]:
a = int(input('a = '))
b = int(input('b = '))
a,b = b,a
print('after swapping:')
print('a =',a)
print('b =',b)

a = 3
b = 4
after swapping:
a = 4
b = 3